.header{
    background-color:azure;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 110px;
}

.nav-item > ul {
font-size: 20px;
    display: flex;
    
    list-style-type: none;
}
.nav-item > ul > li{
    padding: 10px;
    margin : 10px
}
.res-card{
   margin: 5px;
    width: 230px;
    height: 350px;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    cursor: pointer;
    padding: 15px;
    border-radius: 1px solid black;
}
.res-logo{
    width: 100%;
    height: 50%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    cursor: pointer;
    
}
.filter-btn:hover{
    border-left-color: aqua;
    border-right-color: yellow;
    text-shadow: 0cap;
    color: rgb(121, 91, 91);
    border-radius: 1px solid black;
    background-color: palevioletred;
}